//Footer sticky
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	background-color: #eee;
}

//Para que no se rompa la side-nav
.navbar-fixed {
	z-index: 1000;
}

//Acomodo iconos en side-nav y navbar-fixed
.side-nav {
	.collapsible-header {
		padding: 0 32px;
	}
}

.navbar-fixed {
	i.left {
		margin-right: 3px;
	}
	.dropdown-content li > a,
	.dropdown-content li > span {
		color: $azul;
	}
}

//Acomodo el logo
.brand-logo {
	img {
		height: 50px;
		@media only screen and (min-width: 601px) { position: relative; top: 7px; }
		@media only screen and (max-width: 600px) { position: relative; top: 3px; }

	}
}

// Links
a {
	color: $azul;
	cursor: pointer;
}


// TABS
.tabs {
	height: 60px;
	.tab {
		height: 60px;
		line-height: 60px;
		a {
			font-size: 17px;
			font-weight: bold;
		}
	}
	.indicator {
		background-color: $azul;
	}
}


// CARDS
.card {
	.card-content {
		.btn-flat {
			padding: 0 1rem;
		}
	}
	.card-action {
		.btn-flat {
			padding: 0 1rem;
		}
	}
}
