/* PARTICULARIDADES */

//El ojo del login
.login, .token-virtual {
	.input-field a i {
		position: absolute;
		right: 40px;
		top: 12px;
	}
}


.collapsible-body {
	h6, p {
		margin: 0;
	}
}

.collapsible-header {
	.row {
		width: 100%;
		margin: 0 auto;
	}
	h6, p {
		margin: 0;
	}
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="checkbox"] + label {
	padding-left: 25px;
}

.card {
	.card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
		margin-right: 15px;
	}
	.card-reveal {
		h6, p {
			margin: 0;
		}
	}
}

//Color de texto de las opciones de los SELECT
.dropdown-content li > a,
.dropdown-content li > span {
	color: $azul;
}

//Color del input al hacer FOCUS
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid $azul;
	-webkit-box-shadow: 0 1px 0 0 $azul;
	box-shadow: 0 1px 0 0 $azul;
}

//Color del LABEL de los inputs
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: $azul;
}

//
// .input-field label.active ::after{
// 	color: $azul;
// }

//Color del prefix icon al hacer FOCUS en el input
i.material-icons.prefix.active {
	color: $azul;
}

//Color del radio button
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
	border: 2px solid $azul;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
	background-color: $azul;
}

//Color de los checkboxs
[type="checkbox"]:checked + label:before {
	border-right: 2px solid $azul;
	border-bottom: 2px solid $azul;
}

// Input de pago parcial
.btn.actualizar {
	position: absolute;
	top: -10px;
	right: 0;
}

//Efecto de papel cortado en el ticket
.card.ticket {
	position:relative;

	&::before {
		background: linear-gradient(45deg, transparent 20px, #fff 0), linear-gradient(-45deg, transparent 20px, #fff 0);
		background-size: 18px 25px;
		content: "";
		height: 20px;
		position: absolute;
		bottom: -20px;
		left: 0;
		width: 100%;
	}
}
