






// // Solo se ve en vista de impresión
// .soloprint {display:none;}

// // Solo lo que se imprime
// @media print {

//   header, footer, nav, aside, .noprint, #toast-container, .toast { display: none; }
//   .soloprint { display:initial; }
//   .ticket {
//     box-shadow: none; 
//     border: solid 1px #000;
//   }

//   // Para que no se imprima el encabezado y el pie
//   @page {
//       size: auto;   /* auto is the initial value */
//       margin: 0;  /* this affects the margin in the printer settings */
//   }


// }