/* Fuentes */
@font-face {
    font-family: 'Century';
    src: url('../fonts/century-gothic/centurygothicstd.eot');
    src: url('../fonts/century-gothic/centurygothicstd.eot') format('embedded-opentype'),
         url('../fonts/century-gothic/centurygothicstd.woff2') format('woff2'),
         url('../fonts/century-gothic/centurygothicstd.woff') format('woff'),
         url('../fonts/century-gothic/centurygothicstd.ttf') format('truetype'),
         url('../fonts/century-gothic/centurygothicstd.svg#CenturyGothicStdRegular') format('svg');
}

@font-face {
    font-family: 'CenturyBold';
    src: url('../fonts/century-gothic/centurygothicstd-bold.eot');
    src: url('../fonts/century-gothic/centurygothicstd-bold.eot') format('embedded-opentype'),
         url('../fonts/century-gothic/centurygothicstd-bold.woff2') format('woff2'),
         url('../fonts/century-gothic/centurygothicstd-bold.woff') format('woff'),
         url('../fonts/century-gothic/centurygothicstd-bold.ttf') format('truetype'),
         url('../fonts/century-gothic/centurygothicstd-bold.svg#CenturyGothicStdBold') format('svg');
}

h1, h2, h3, h4, h5, h6 {font-family: "CenturyBold";}

h6 {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-fixed a {
  font-family: "Century";
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format('woff2'),
       url("../fonts/roboto/Roboto-Regular.woff") format('woff');
}

p, a, span {font-family: "Roboto-Regular";}

.label {
  font-family: "Roboto-Regular";
  font-size: 0.8rem;
  color: $azul;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
