/* COLORES */

//Colores de marca
$azul: #092768;
$rojo: #E30034;


$tabla_de_colores: (
  "azul" : $azul,
  "rojo": $rojo,
) !default; 

@each $color in $tabla_de_colores {
  .#{nth($color,1)} {
    background-color: #{nth($color,2)} !important;
  }
  .#{nth($color,1)}-text {
    color: #{nth($color,2)} !important;
  } 
}

@for $mg from 0 through 300 {
    .mg-#{$mg} {margin: #{$mg}px !important;}
    .mg-l-#{$mg} {margin-left: #{$mg}px !important;}
    .mg-r-#{$mg} {margin-right: #{$mg}px !important;}
    .mg-t-#{$mg} {margin-top: #{$mg}px !important;}
    .mg-b-#{$mg} {margin-bottom: #{$mg}px !important;}
}