// Variables de Branding
// --------------------------------------------------

// Colores
$blanco:                #FFF;
$celeste-marca:         #00458b; 
$celeste-oscuro:        darken($celeste-marca, 10%);
$celeste-claro:         lighten($celeste-marca, 20%);
$celeste-claro2:        lighten($celeste-marca, 5%);
$celeste-transparente:  transparentize($celeste-marca,0.1);
$celeste-transparente2: transparentize($celeste-marca,0.9);
$celeste-transparente3: transparentize($celeste-marca,0.5);

$verde-claro: 			#24B3B8;
$verde-oscuro:			#24B3B8;
$rosita:				#f4587a;
$violeta:				#57068c;

$azul-prisma: #1E4384;
$naranja-prisma: #F8B700;
$amarillo-prisma: #FEDB00;
$magenta-prisma: #E73558;
$verde-prisma: #24B3B8;

.fondo-azul-prisma {background-color: $azul-prisma !important;}
.fondo-naranja-prisma {background-color: $naranja-prisma !important;}
.fondo-amarillo-prisma {background-color: $amarillo-prisma !important;}
.fondo-magenta-prisma {background-color: $magenta-prisma !important;}
.fondo-verde-prisma {background-color: $verde-prisma !important;}


// Azul de Materialize
$celeste-azul-transp:   transparentize($celeste-marca,0.1);


// Tabla de colores
$tabla_de_colores:(
	blue	$celeste-marca,
	azul-oscuro	$celeste-oscuro,
	verde-claro	$verde-claro,
	verde-oscuro	$verde-oscuro,
	rosita	$rosita,
	violeta	$violeta
);

@each $color in $tabla_de_colores{
	.#{nth($color,1)} { background-color: nth($color,2) !important; }
	.#{nth($color,1)}-text {color: nth($color,2) !important; }
}	


@mixin degradelinealhaciaabajo ($arriba, $abajo) { 
	background: linear-gradient(to bottom, $arriba, $abajo); }

.degrade {
	@include degradelinealhaciaabajo($verde-claro, $verde-oscuro);
}

//.bordeverde {border-bottom: 8px solid $verde-claro};
//.bordecitoverde {border-bottom: 5px solid $verde-claro};